{% extends 'base.html' %}
<head>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/todo.css') }}" >
</head>
{% block content%}

<body> 
    <div class="container">
		<div class="row">
            <center><h1>Tasks List</h1></center>
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                <ul class="event-list">
                    {%for task in tasklists%}
                    <li>
						
                        <time>
                            <span class="day"> {{task}}</span>
						</time>
						<div class="info">                      
							<h2 class="title"> {{tasklists[task]["name"]}}</h2>
                            <p class="desc">Creat date : {{tasklists[task]["created_at"]}} </p>
                            <p class="desc">Last update date : {{tasklists[task]["last_updated"]}} </p>
                            <p class="desc">
                                Tags : 
                                {%for tag in tasklists[task]["tags"]%} 
                                    {{tag}}
                               
                                {% endfor %}
                                
                            </p>

                            <p class="desc">
                                Tasks : <br>
                            </p>
                                <table>

                                {%for task in tasklists[task]["tasks"]%} 
                                <tr>
                                    <td>
                                        {{task}}
                                    </td>
                                    <td>
                                        {{get_task_name(task)}}
                                    </td>
                                    </tr>
                                                                                                  
                                {% endfor %}
                            </table>
                           

							
						</div>
						<div class="social">
							<ul>
								<li class="edit" style="width:33%;"><a href="/edit/{{task}}">edit</span></a></li>
								<li class="delete" style="width:34%;"><a href="/delete/{{task}}">delete</span></a></li>
							</ul>
						</div>
					</li>
                
                    {% endfor %}
                </ul>
            </div>
        </div>
        <p align="right">
          <a href="/creat_task_list">
              Creat new task list
          </a> 
          <br>
          <a href="/tasks">
             Tasks
        </a> 
        </p>
    </div>

</body>

{% endblock %}